Lab_1/lab1.ipynb
Lab_2/main.pdf
Lab_2/Wykres_KG.png
Lab_2/wykres.png
Lab_3/dane_obliczenia.ipynb
Lab_3/__pycache__/task.cpython-311-pytest-7.2.2.pyc
Lab_4/answer.txt
Lab_4/GDP_happiness.csv
Lab_4/Least_squares_approximation.ipynb
Lab_4/lss_Krzysztof_Glowacz.zip
Lab_4/__pycache__/lss.cpython-311.pyc
Lab_4/__pycache__/test_lss.cpython-311-pytest-7.2.2.pyc
Lab_5/GDP_happiness.csv
Lab_5/klasyfikacja.ipynb
GDP_happiness.csv
.vscode/settings.json
Lab_5/__pycache__/test_classification.cpython-311-pytest-7.2.2.pyc
Lab_5/__pycache__/classification.cpython-311.pyc
Lab_6/optymalizacja.ipynb
Lab_6/__pycache__/test_optimisation_problem.cpython-311-pytest-7.2.2.pyc
Lab_6/__pycache__/optimisation_problem.cpython-311.pyc
